/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/hero.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.hero_image__Spd_b {
  background-image: url(/_next/static/media/books-hero.4b37a834.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -50px;
  border: 2px solid black;
}

.hero_left__lY08M {
  clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
  backdrop-filter: blur(4px);
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/styles/utils/fonts.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "logo";
  src: url(/_next/static/media/HeavyDataNerdFontPropo-Regular.868d2df6.ttf);
}
@font-face {
  font-family: "nerd-symbols";
  src: url(/_next/static/media/SymbolsNerdFont-Regular.bd6d6cc9.ttf);
}
@font-face {
  font-family: "cormorant-garamond";
  src: url(/_next/static/media/CormorantGaramond-Italic.de94eb2a.ttf);
}
.fonts_logoFont__Uw8c4 {
  font-size: 40px;
  font-weight: 200;
  text-shadow: 8px 8px 15px;
  height: 50px;
}

.fonts_nerdHeavy__qrEyx {
  font-family: "logo";
}

.fonts_nerdSymbol__ARR_w {
  font-family: "nerd-symbols";
}

.fonts_cormorant__5mc8K {
  font-family: "cormorant-garamond";
  font-size: 2rem;
}
