.image {
  background-image: url("../../../public/Images/Hero/hero-bike-1281634_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -50px;
  border: 2px solid black;
}

.left {
  clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
}
